<!DOCTYPE html>
<html>
<head>
    <title>XML formatter</title>
</head>
<body>
    <h3>XML formatter</h3>
    <form action="/format_xmls/" method="post">
        <table>
            <tr>
                <th align="left">TU XML</th>
                <td><input name="tuxml" value="" type="text" /></td>
            </tr>
            <tr>
                <th align="left">DL XML</th>
                <td><input name="dlxml" value="" type="text"/></td>
            </tr>
            <tr>
                <th align="left">Clarity XML</th>
                <td><input name="clxml" value="" type="text"/></td>
            </tr>
            <tr>
                <th align="left">IDAnalytics XML</th>
                <td><input name="idaxml" value="" type="text"/></td>
            </tr>
            <tr>
                <th align="left">IDAnalytics XML</th>
                <td><input name="tm_qs" value="" type="text"/></td>
            </tr>
            <tr>
                <td><input name="submit" value="Get JSON" type="submit"/></td>
            </tr>
        </table>
    </form>
</body>
</html>
